<div class="box">
  <div id="formContent"><br>
    <h2>NUEVO MÓDULO</h2>
  <br><br>


  <h5>Área de conocimiento</h5>
      <div>
          <input type ="text" class="type_text" name="knowledgeArea" [(ngModel)]="icfesModule.knowledgeArea" >
      </div>
      <p-footer>
        <div class="alert-danger" *ngIf="formsCorrect == false">
          <div class="container-error-message" >
            El área de conocimiento es requerido
          </div>
        </div>
      </p-footer>
<br>
  <h5>Descripción del módulo</h5>
    <div>
      <input type ="text" class="type_text" name="description" [(ngModel)]="icfesModule.description" >
    </div>
    <p-footer>
      <div class="alert-danger" *ngIf="formsCorrect == false">
        <div class="container-error-message" >
          Se requiere una descripción del módulo
        </div>
      </div>
    </p-footer>
    <br>
  <h5>Asunto de evaluación</h5>
    <div>
      <input type ="text" class="type_text" name="evaluationSubject" [(ngModel)]="icfesModule.evaluationSubject" >
    </div>
    <p-footer>
      <div class="alert-danger" *ngIf="formsCorrect == false">
        <div class="container-error-message" >
          Se requiere el tipo de módulo
        </div>
      </div>
    </p-footer>

  <p-dialog header="Confirmacion" [(visible)]="display">
    {{mensaje}}
  </p-dialog>

  <br>
  <button pButton type="button" label="CREAR MÓDULO" (click)="saveIcfesModule()"  ></button>
  <br>
</div>
</div>

