<div class="box">
  <div id="formContent"><br>
<h2>NUEVA PRUEBA</h2>
  <br>
  <p-card>
  <h5>Módulo</h5>
    <p-dropdown [options]="itemsModules" [style]="{'width': '80%'}"
    [(ngModel)]="icfesTest.moduleId" placeholder="Selecciona el modulo" [virtualScroll]="true" [itemSize]="31" [filter]="false"></p-dropdown>
    <br><br>
  <h5>Título</h5>
      <div>
        <input type ="text" class="form-control" [(ngModel)]="icfesTest.title" placeholder="Título" >
      </div>
      <p-footer>
        <div class="alert-danger">
          <div class="container-error-message" >

          </div>
        </div>
      </p-footer>
  <br><h5>Descripción</h5>
      <div>
        <input type ="text" class="form-control" name="description" [(ngModel)]="icfesTest.description" placeholder="Descripción" >
      </div>
      <p-footer>
        <div class="alert-danger">
          <div class="container-error-message" >

          </div>
        </div>
      </p-footer>
  <br><h5>Preguntas</h5>
    <p-card>
      <p-table [value]="questionsSelected">
        <ng-template pTemplate="header">
          <tr>
            <th>Título</th>
            <th>Enunciado</th>
            <th> </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-question>
          <tr>
            <td>{{question.title}}</td>
            <td [innerHtml]="question.statement"></td>
            <td>
              <a (click)="deleteQuestion(question._id)">
                <i class="pi pi-times"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    <p-dropdown [options]="itemsQuestions" [style]="{'width': '80%'}"
    [(ngModel)]="itemQuestion" placeholder="Selecciona la pregunta" [virtualScroll]="true" [filter]="true"></p-dropdown><br><br>
  </p-card>
  <br>
    <button pButton type="button" class="btn btn-primary" label="GUARDAR PREGUNTA" (click)="updateList ()" ></button>&nbsp;
  <p-dialog header="Confirmacion" [(visible)]="display">
    {{mensaje}}
  </p-dialog>
  <button pButton type="button" class="btn btn-warning" label="GUARDAR PRUEBA" (click)="saveQuestion()"  ></button>
</p-card>
</div>
</div>
